@media screen and (min-width: 500px) {
    body {
      background-color: lightgreen;
    }
    .table{
      background-color: red;
      width: 90px;
      font-size: 12px;
    }
    
  }
  @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
    .table{
      background-color: rgb(0, 255, 42);
      width: 80px;
      font-size: 12px;
    }
   
  }